tmp/
.idea/
bin/*
.env

internal/templates/*/*_templ.go
internal/templates/*/*_templ.txt

static/
reports/
alloy/config.alloy

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
