package pages

import "github.com/datdev2409/lab-admin-go/internal/templates/partials"

templ PatientsPage() {
	@partials.Base() {
		<div class="d-flex align-items-center justify-content-between">
			<h3 class="pt-3">Danh mục bệnh nhân</h3>
			@partials.PatientCreateModal()
		</div>
		@partials.PatientTable()
	}
}
