package pages

import (
	"github.com/datdev2409/lab-admin-go/internal/models"
	"github.com/datdev2409/lab-admin-go/internal/templates/partials"
)

templ TestPage(tests []*models.Test, message string) {
	@partials.Base() {
		<div class="d-flex align-items-center justify-content-between">
			<h3 class="pt-3">Danh mục xét nghiệm</h3>
			<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#test-create-modal">Thêm xét nghiệm</button>
		</div>
		@partials.TestCreateModal()
		<div class="my-3 d-flex align-items-center">
			<form id="test-search-form" class="row" hx-get="/api/tests" hx-target="#test-table" hx-trigger="load, submit">
				<div class="col-md-auto" style="width: 400px;">
					<input placeholder="Tên xét nghiệm" class="form-control" name="test_name" id="test-search"/>
				</div>
				<div class="col-md-auto px-0">
					<button type="submit" class="btn btn-primary">Tìm</button>
				</div>
			</form>
		</div>
		@partials.TestTable(tests, "test-page", false)
		@partials.Pagination(&models.PaginationResponse{}, "test-page")
	}
}
