package pages

import (
	"github.com/datdev2409/lab-admin-go/internal/models"
	"github.com/datdev2409/lab-admin-go/internal/templates/partials"
)

templ TestPage(tests []models.Test, message string) {
	{{
		var testPageProps = models.PageProps{
			Title: "Danh mục xét nghiệm",
			Path:  "/danh-muc-xet-nghiem",
		}
	}}
	@partials.Base(testPageProps) {
		<div class="d-flex align-items-center justify-content-between">
			<h3 class="pt-3">Danh mục xét nghiệm</h3>
			<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#test-create-modal">Thêm xét nghiệm</button>
		</div>
		@TestCreateForm()
		<div class="mb-2 d-flex align-items-center">
			<input style="max-width: 200px;" class="form-control" name="test_name" id="test-search"/>
			<button type="button" class="ms-2 btn btn-primary" hx-get="/api/tests" hx-target="#test-table" hx-include="#test-search">Tìm</button>
		</div>
		@partials.TestTable(tests, "test-page", false)
	}
}

templ TestCreateForm() {
	<div class="modal fade" id="test-create-modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Thêm xét nghiệm</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form hx-post="/api/tests">
						<div class="mb-3 d-flex align-items-center">
							<label style="min-width: 160px;" for="test_name" class="form-label">Tên xét nghiệm</label>
							<input class="form-control" id="test_name" name="test_name"/>
						</div>
						<div class="mb-3 d-flex align-items-center">
							<label style="min-width: 160px;" for="test_normal_value" class="form-label">Khoảng bình thường</label>
							<input class="form-control" id="test_normal_value" name="test_normal_value"/>
						</div>
						<div class="mb-3 d-flex align-items-center">
							<label style="min-width: 80px" for="test_unit" class="form-label">Đơn vị</label>
							<input class="form-control" id="test_unit" name="test_unit"/>
						</div>
						<div class="row">
							<div class="col mb-3 d-flex align-items-center">
								<label style="min-width: 80px;" for="test_lower_bound" class="form-label">Cận dưới</label>
								<input class="form-control" id="test_lower_bound" name="test_lower_bound"/>
							</div>
							<div class="col mb-3 d-flex align-items-center">
								<label style="min-width: 80px" for="test_upper_bound" class="form-label">Cận trên</label>
								<input class="form-control" id="test_upper_bound" name="test_upper_bound"/>
							</div>
						</div>
						<div class="mb-3 d-flex align-items-center">
							<label style="min-width: 80px;" for="test_price" class="form-label">Giá tiền</label>
							<input class="form-control" id="test_price" name="test_price"/>
						</div>
						<button style="float: right;" type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
