[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/bin/bash /home/ec2-user/start.sh
WorkingDirectory=/home/ec2-user

[Install]
WantedBy=multi-user.target