package partials

import "github.com/datdev2409/lab-admin-go/internal/models"

templ ComboAutocomplete(combos []*models.Combo) {
	<div x-show="open" @click.outside="open=false" id="combo-autocomplete" class="shadow bordered position-absolute autocomplete">
		for _, combo := range combos {
			<div class="autocomplete-option" @click={ "selectCombo('" + combo.ID + "')" }>
				{ combo.Name }
			</div>
		}
	</div>
}
