package partials

templ RecordTestTable() {
	<table id="record-test-table" class="table table-bordered">
		<thead class="position-sticky top-0">
			<tr>
				<th scope="col">Tên xét nghiệm</th>
				<th style="width: 180px" scope="col">Đơn giá</th>
				<th style="width: 200px" scope="col">GT bình thường</th>
				<th style="width: 140px" scope="col">Đơn vị</th>
				<th style="width: 120px" scope="col">Kết quả</th>
				<th style="width: 180px" scope="col">Kết quả (text)</th>
				<th style="width: 30px" scope="col">Bất thường</th>
			</tr>
		</thead>
		<tbody>
			<template x-for="test in tests" x-key="test.id">
				<tr>
					<td x-text="test.name"></td>
					<td style="width: 180px" x-text="test.price"></td>
					<td style="width: 200px" x-text="test.normal_value"></td>
					<td style="width: 140px" x-text="test.unit"></td>
					<td style="width: 120px">
						<input x-model="test.result"/>
					</td>
					<td style="width: 180px">
						<input x-model="test.result_text"/>
					</td>
					<td style="width: 30px">
						<input type="checkbox" x-model="test.abnormal"/>
					</td>
				</tr>
			</template>
		</tbody>
	</table>
}
