package partials

templ RecordComboSelect() {
	<div x-show="comboName == ''">
		<label for="combo_name" class="form-label">Gói xét nghiệm</label>
		<input
			class="form-control"
			id="combo_name"
			name="combo_name"
			autocomplete="off"
			@keyup="open=true"
			hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
			hx-target="#combo-autocomplete"
			hx-swap="outerHTML"
			hx-get="/api/combos?page_size=5"
		/>
		@ComboAutocomplete(nil)
	</div>
}
