package partials

import (
	"fmt"
	"github.com/datdev2409/lab-admin-go/internal/models"
	"strconv"
)

templ TestRow(test models.Test, page string) {
	<tr>
		<td>{ test.Name }</td>
		<td style="width: 180px">{ strconv.Itoa(test.Price) }</td>
		<td style="width: 200px">{ test.NormalValue }</td>
		<td style="width: 140px">{ test. Unit }</td>
		switch page {
			case "test-page":
				<td style="width: 120px">{ fmt.Sprintf("%.2f", test.LowerBound) }</td>
				<td style="width: 120px">{ fmt.Sprintf("%.2f", test.UpperBound) }</td>
				<td style="width: 120px">
					<button class="btn btn-sm btn-secondary">Sửa</button>
					<button class="btn btn-sm btn-danger">Xoá</button>
				</td>
			case "combo-page":
				<td style="width: 120px">{ fmt.Sprintf("%.2f", test.LowerBound) }</td>
				<td style="width: 120px">{ fmt.Sprintf("%.2f", test.UpperBound) }</td>
				<td style="width: 120px">
					<button class="btn btn-sm btn-secondary">Thêm xét nghiệm</button>
				</td>
			case "record-page":
				<td contenteditable="true" style="width: 120px">
					<input/>
				</td>
				<td contenteditable="true" style="width: 180px">
					<input/>
				</td>
				<td contenteditable="true" style="width: 30px">
					<input type="checkbox"/>
				</td>
		}
	</tr>
}

templ TestRowRecordPage(test models.Test) {
	<tr>
		<td>{ test.Name }</td>
		<td style="width: 180px">{ strconv.Itoa(test.Price) }</td>
		<td style="width: 200px">{ test.NormalValue }</td>
		<td style="width: 140px">{ test. Unit }</td>
		<td contenteditable="true" style="width: 120px">
			<input/>
		</td>
		<td contenteditable="true" style="width: 180px">
			<input/>
		</td>
		<td contenteditable="true" style="width: 30px">
			<input type="checkbox"/>
		</td>
	</tr>
}

templ TestTableHeader(page string) {
	<thead class="position-sticky top-0">
		<tr>
			<th scope="col">Tên xét nghiệm</th>
			<th style="width: 180px" scope="col">Đơn giá</th>
			<th style="width: 200px" scope="col">GT bình thường</th>
			<th style="width: 140px" scope="col">Đơn vị</th>
			switch page {
				case "test-page":
					<th style="width: 120px" scope="col">Cận dưới</th>
					<th style="width: 120px" scope="col">Cận trên</th>
					<th style="width: 120px" scope="col"></th>
				case "record-page":
					<th style="width: 120px" scope="col">Kết quả</th>
					<th style="width: 180px" scope="col">Kết quả (text)</th>
					<th style="width: 30px" scope="col">Bất thường</th>
			}
		</tr>
	</thead>
}

templ TestTable(tests []models.Test, page string, outOfBand bool) {
	<div
		id="test-table"
		if outOfBand {
			hx-swap-oob="true"
		}
	>
		<table class="table table-bordered table-hover">
			@TestTableHeader(page)
			<tbody>
				for _, test := range tests {
					@TestRow(test, page)
				}
			</tbody>
		</table>
	</div>
}
