package partials

templ TestAutocomplete() {
	<div x-data="autocomplete('/api/v1/tests')">
		<input id="test-autocomplete" class="form-control" x-model="searchTerm" x-on:input.debounce="search()" autocomplete="off"/>
		<div x-show="open" @click.outside="open=false" class="shadow bordered position-absolute autocomplete">
			<template x-for="result in results">
				<div x-on:click="selectTest(result);reset()" class="autocomplete-option">
					<span x-text="result.name"></span>
				</div>
			</template>
		</div>
	</div>
}
